<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lingkj.project.transaction.mapper.TransactionInvoiceMapper">


    <select id="selectByRecordId"
            resultType="com.lingkj.project.api.transaction.dto.ApiTransactionInvoiceDto">
        select * from transaction_invoice where record_id=#{recordId}
    </select>
</mapper>