<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lingkj.project.operation.mapper.OperateDeliveryStaffMapper">


    <update id="updateStatusBatchIds">
        update operate_delivery_staff set status=1 where id in
        <foreach collection="asList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
</mapper>