<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lingkj.project.commodity.mapper.CommodityCommentFileMapper">


    <select id="selectImagesById" resultType="java.lang.String" parameterType="long">
        select file_url from commodity_comment_file where commodity_comment_id=#{id}
    </select>
</mapper>