<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lingkj.project.user.mapper.UserApplicationFileMapper">
    <select id="getUserApplicationFile" resultType="com.lingkj.project.user.entity.UserApplicationFile">
        SELECT
            user_application_file.url
        FROM
            user_application_file
        WHERE
            user_application_file.user_id = #{userId} AND
            user_application_file.type = 1
            limit #{start},#{end}
    </select>
    <select id="queryUserApplicationFileCount" parameterType="long" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            user_application_file
        WHERE
            user_application_file.user_id = #{userId} AND
            user_application_file.type = 1
    </select>
    <delete id="deleteUserFile">
            delete from user_application_file
            where user_application_file.application_id = #{applicationId}
              AND  user_application_file.type = #{type}
    </delete>


</mapper>